/* ver.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}

header button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

header button a {
    color: white;
    text-decoration: none;
}

header button:hover {
    background-color: #777;
}

.contenedor_turnos {
    padding: 80px 20px 20px 20px; /* Ajustar para que no se superponga con el header */
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-size: 18px;
}

td {
    font-size: 16px;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
